#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

div#winsLabel {
  text-align: center;
  font-weight: 500;
}

div#LoseLabel {
  text-align: center;
  font-weight: 500;
}

div#TieLabel {
  text-align: center;
  font-weight: 500;
}
